@model IEnumerable<BO.Models.Inscription>

@{
    ViewBag.Title = "Inscription";
}

<h2>Inscription</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Epreuve)
        </th>
        @if (User.IsInRole("Administrator"))
        {
        <th>
            @Html.DisplayNameFor(model => model.UtilisateurName)
        </th>
        }
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Epreuve.Nom)
        </td>
        @if (User.IsInRole("Administrator"))
        {
        <th>
            @Html.DisplayFor(modelItem => item.UtilisateurName)
        </th>
        }
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
