@model BO.Models.PointOfInterest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PointOfInterest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Epreuve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epreuve.Nom)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
